<%- include('../layout/adminHeader') %>

<link rel="stylesheet" href="/css/admin-side/custemer.css">

    <div class="container-xxl position-relative bg-white d-flex p-0">
       
            <%-include('../layout/adSidebarHeader')%>

            <%-include('../layout/adSidebarFooter')%>

                <!-- Content Start -->
                <div class="content">
                    <!-- Navbar Start -->
                    <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                            <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                        </a>
                        <a href="#" class="sidebar-toggler flex-shrink-0">
                            <i class="fa fa-bars"></i>
                        </a>
                        
                        <div class="navbar-nav align-items-center ms-auto">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-envelope me-lg-2"></i>
                                    <span class="d-none d-lg-inline-flex">Message</span>
                                </a>
                                <div
                                    class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                                    <a href="#" class="dropdown-item">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                                style="width: 40px; height: 40px;">
                                            <div class="ms-2">
                                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                                <small>15 minutes ago</small>
                                            </div>
                                        </div>
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href="#" class="dropdown-item">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                                style="width: 40px; height: 40px;">
                                            <div class="ms-2">
                                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                                <small>15 minutes ago</small>
                                            </div>
                                        </div>
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href="#" class="dropdown-item">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle" src="img/user.jpg" alt=""
                                                style="width: 40px; height: 40px;">
                                            <div class="ms-2">
                                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                                <small>15 minutes ago</small>
                                            </div>
                                        </div>
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href="#" class="dropdown-item text-center">See all message</a>
                                </div>
                            </div>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-bell me-lg-2"></i>
                                    <span class="d-none d-lg-inline-flex">Notificatin</span>
                                </a>
                                <div
                                    class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                                    <a href="#" class="dropdown-item">
                                        <h6 class="fw-normal mb-0">Profile updated</h6>
                                        <small>15 minutes ago</small>
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href="#" class="dropdown-item">
                                        <h6 class="fw-normal mb-0">New user added</h6>
                                        <small>15 minutes ago</small>
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href="#" class="dropdown-item">
                                        <h6 class="fw-normal mb-0">Password changed</h6>
                                        <small>15 minutes ago</small>
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href="#" class="dropdown-item text-center">See all notifications</a>
                                </div>
                            </div>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                    <img class="rounded-circle me-lg-2" src="img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <span class="d-none d-lg-inline-flex">John Doe</span>
                                </a>
                                <div
                                    class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                                    <a href="/admin/logOut" class="dropdown-item">Log Out</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <!-- Navbar End -->

                    <form method="get" class="d-none d-md-flex ms-4 mt-4 w-25" action="/admin/search-user">
                        <input class="form-control border-0" type="search" name="search" placeholder="Search">
                        <button class="btn btn-primary ms-1"><i class="bi bi-search"></i></button>
                    </form>
                   

                    <!-- Table Start -->
                    <table class="table table-bordered table-hover classic-table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">Date</th>
                                <th scope="col">Block/UnBlock</th>

                            </tr>
                        </thead>
                        <% if(users.length> 0){ %>
                            <% for(let i=0;i<users.length;i++){ %>
                                <tbody>
                                    <tr>
                                        <td>
                                            <%= users[i].Fname %>
                                        </td>
                                        <td>
                                            <%= users[i].email %>
                                        </td>
                                        <td>
                                            <%= new Date(users[i].createdAt).toLocaleDateString('en-US', {
                                                weekday: 'short' , month: 'short' , day: 'numeric' , year:'numeric'})%>
                                        </td>
                                        <td>
                                            <% if(users[i].is_block===false){ %>
                                                <button class="btn btn-outline-danger"
                                                    onclick="updateUserStatus('<%= users[i]._id %>', false)">Block</button>
                                                <% }else{ %>
                                                    <button class="btn btn-outline-success"
                                                        onclick="updateUserStatus('<%= users[i]._id %>', true)">UnBlock</button>
                                                    <% } %>
                                        </td>
                                    </tr>
                                </tbody>
                                <%} }else{ %>
                                    <h6>User Not Found</h6>
                                    <% } %>
                    </table>
                    <!-- Table End -->



                    <!-- Pagination Start -->

                    <nav aria-label="Page navigation example" class="d-flex justify-content-end me-4">
                        <ul class="pagination">
                            <% if (currentPage > 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="/admin/customerManagement?page=<%= currentPage - 1 %>" tabindex="-1">Previous</a>
                                </li>
                            <% } else { %>
                                <li class="page-item disabled">
                                    <a class="page-link" href="" tabindex="-1">Previous</a>
                                </li>
                            <% } %>
                    
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                    <a class="page-link" href="/admin/customerManagement?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                    
                            <% if (currentPage < totalPages) { %>
                                <li class="page-item">
                                    <a class="page-link" href="/admin/customerManagement?page=<%= currentPage + 1 %>">Next</a>
                                </li>
                            <% } else { %>
                                <li class="page-item disabled">
                                    <a class="page-link" href=" " tabindex="-1">Next</a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                    

                    <!-- Pagination End -->

                    <!-- Footer Start -->

                    <!-- Footer End -->
                </div>

                <!-- Content End -->
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



                <script src="/adminside/js/updateUserStatus.js"></script>



                <!-- Back to Top -->
                <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    </div>
    <!-- <script src="/js/swal.js"></script> -->
    <%- include('../layout/adminFooter') %>