<%- include('../layout/header') %>


      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
      <link rel="stylesheet" type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


      <%- include('../layout/navbarH') %>


            <%- include('../layout/navbarF') %>

                  <div class="container">

                        <div class="vela-breadcrumbs__inner align-items-start flex-column" aria-label="breadcrumb">
                              <h1 class="vela-breadcrumbs__title mb-1 d-none">
                                    <%=product.name%>
                              </h1>
                              <ol class="breadcrumb m-0" itemscope itemtype="http://schema.org/BreadcrumbList">
                                    <li class="breadcrumb-item breadcrumb__item" itemprop="itemListElement" itemscope
                                          itemtype="http://schema.org/ListItem">
                                          <a class="breadcrumb__link" href="/home" title="Home" itemprop="item">
                                                <span itemprop="name">Home</span>
                                          </a>
                                          <meta itemprop="position" content="1" />
                                    </li>
                                    <li class="breadcrumb-item breadcrumb__item active" itemprop="itemListElement"
                                          itemscope itemtype="http://schema.org/ListItem">
                                          <span class="breadcrumb__text"><span itemprop="name">
                                                      <%=product.name%>
                                                </span></span>
                                          <meta itemprop="position" content="3" />
                                    </li>
                              </ol>
                        </div>


                  </div>
                  </div>

                  </section>
                  <div id="shopify-section-template--14958641283137__main" class="shopify-section">
                        <link href="../css/cdn/shop/t/71/assets/product9236.css?v=36401197410163597091705054144"
                              rel="stylesheet" type="text/css" media="all" />
                        <link href="../css/cdn/shop/t/71/assets/collection-sidebar164a.css?v=8524468312072971481693274023"
                              rel="stylesheet" type="text/css" media="all" />
                        <link href="../css/cdn/shop/t/71/assets/product-reviewseb04.css?v=109471172887224315751693274023"
                              rel="stylesheet" type="text/css" media="all" />




                        <div class="vela-section product-page"
                              style="--st-bg-cl: #f5f5f5;--st-pd-dt: 70px 0 90px;--st-pd-mb: 60px 0;">
                              <div class="container">
                                    <div class="product" data-section-id="template--14958641283137__main"
                                          data-section-type="product-template" data-image-zoom-type="true"
                                          data-multi-variant-image="true" data-enable-history-state="true"
                                          data-stacked-layout="false">
                                          <div class="product-single product__primary">
                                                <div class="row g-4 product__row">
                                                      <div
                                                            class="col-12 col-lg-7 product__media-wrapper position-relative">
                                                            <div
                                                                  class="js-product-single-media product-single__media position-relative me-lg-2 me-xl-4 product-single__media--thumbnails-left product-single__media--thumbnails-vertical">
                                                                  <div class="js-product-single-media__wrapp active"
                                                                        data-variant-color="teal">
                                                                        <div class="product-single__main-media">
                                                                              <div
                                                                                    class="js-product-media-group js-product-media-group-template--14958641283137__main product-single__media-group image-zoom main-slider">
                                                                                    <div class="js-product-media-item product-single__media-item"
                                                                                          data-slick-media-label="Load image into Gallery viewer, chair7__Teal">
                                                                                          <div class="js-product-media product-media"
                                                                                                data-media-id="template--14958641283137__main-23940516249665"
                                                                                                tabindex="-1">
                                                                                                <div class="product-media__wrapper zoom image-container"
                                                                                                      data-media-id="23940516249665"
                                                                                                      data-mfp-src="/upload/product/<%=product.images[0]%>">
                                                                                                      <img class="img-fluid image-zoom"
                                                                                                            data-zoom="/upload/product/<%=product.images[0]%>"
                                                                                                            srcset=""
                                                                                                            sizes="(min-width: 750px) calc(100vw - 22rem), 1100px"
                                                                                                            src="/upload/product/<%=product.images[0]%>"
                                                                                                            alt="chair7__Teal"
                                                                                                            loading="lazy"
                                                                                                            width="1100"
                                                                                                            height="1415"
                                                                                                            data-media-id="23940516249665">
                                                                                                </div>
                                                                                          </div>
                                                                                    </div>
                                                                                    <div class="js-product-media-item product-single__media-item"
                                                                                          data-slick-media-label="Load image into Gallery viewer, chair8__Teal">
                                                                                          <div class="js-product-media product-media"
                                                                                                data-media-id="template--14958641283137__main-23940516282433"
                                                                                                tabindex="-1">
                                                                                                <div class="product-media__wrapper zoom image-container"
                                                                                                      data-media-id="23940516282433"
                                                                                                      data-mfp-src="/upload/product/<%=product.images[1]%>">
                                                                                                      <img class="img-fluid image-zoom"
                                                                                                            data-zoom="/upload/product/<%=product.images[1]%>"
                                                                                                            srcset=""
                                                                                                            sizes="(min-width: 750px) calc(100vw - 22rem), 1100px"
                                                                                                            src="/upload/product/<%=product.images[1]%>"
                                                                                                            alt="chair8__Teal"
                                                                                                            loading="lazy"
                                                                                                            width="1100"
                                                                                                            height="1415"
                                                                                                            data-media-id="23940516282433">
                                                                                                </div>
                                                                                          </div>
                                                                                    </div>
                                                                                    <div class="js-product-media-item product-single__media-item"
                                                                                          data-slick-media-label="Load image into Gallery viewer, chair9__Teal">
                                                                                          <div class="js-product-media product-media"
                                                                                                data-media-id="template--14958641283137__main-23940516315201"
                                                                                                tabindex="-1">
                                                                                                <div class="product-media__wrapper zoom image-container"
                                                                                                      data-media-id="23940516315201"
                                                                                                      data-mfp-src="/upload/product/<%=product.images[2]%>">
                                                                                                      <img class="img-fluid image-zoom"
                                                                                                            data-zoom="/upload/product/<%=product.images[2]%>"
                                                                                                            srcset=""
                                                                                                            sizes="(min-width: 750px) calc(100vw - 22rem), 1100px"
                                                                                                            src="/upload/product/<%=product.images[2]%>"
                                                                                                            alt="chair9__Teal"
                                                                                                            loading="lazy"
                                                                                                            width="1100"
                                                                                                            height="1415"
                                                                                                            data-media-id="23940516315201">
                                                                                                </div>
                                                                                          </div>
                                                                                    </div>
                                                                              </div>

                                                                              <div class="main-media__slick-controls">
                                                                                    <button
                                                                                          class="slick__arrow slick__arrow--previous"
                                                                                          data-slick-previous>
                                                                                          <svg xmlns="http://www.w3.org/2000/svg"
                                                                                                viewBox="0 0 192 512">
                                                                                                <path fill="currentColor"
                                                                                                      d="M4.2 247.5L151 99.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17L69.3 256l118.5 119.7c4.7 4.7 4.7 12.3 0 17L168 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 264.5c-4.7-4.7-4.7-12.3 0-17z" />
                                                                                          </svg>
                                                                                    </button>
                                                                                    <button
                                                                                          class="slick__arrow slick__arrow--next"
                                                                                          data-slick-next>
                                                                                          <svg class=""
                                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                                viewBox="0 0 192 512">
                                                                                                <path fill="currentColor"
                                                                                                      d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z" />
                                                                                          </svg>
                                                                                    </button>
                                                                              </div>

                                                                        </div>

                                                                        <div class="product-single__thumbnail-wrapper position-relative"
                                                                              data-thumbnail-alt="teal">
                                                                              <div class="js-product-thumbnails js-product-thumbnails-template--14958641283137__main product-single__thumbnails thumbnail-slider"
                                                                                    data-thumbnails-show="5">
                                                                                    <div class="product-media__wrapper">
                                                                                          <a href="javascript:void(0)"
                                                                                                class="product-single__thumbnail active-thumb thumbnail-type_image"
                                                                                                data-media="/upload/product/<%=product.images[1]%>&amp;width=600"
                                                                                                data-media-id="template--14958641283137__main-23940516249665"
                                                                                                data-product-thumbnail>
                                                                                                <img src="/upload/product/<%=product.images[0]%>"
                                                                                                      alt="chair7__Teal"
                                                                                                      srcset=""
                                                                                                      width="180"
                                                                                                      height="231.39593908629442"
                                                                                                      loading="lazy"
                                                                                                      class="img-fluid">
                                                                                          </a>
                                                                                    </div>
                                                                                    <div class="product-media__wrapper">
                                                                                          <a href="javascript:void(0)"
                                                                                                class="product-single__thumbnail thumbnail-type_image"
                                                                                                data-media="/public/upload/product/<%=product.images[1]%>&amp;width=600"
                                                                                                data-media-id="template--14958641283137__main-23940516282433"
                                                                                                data-product-thumbnail>
                                                                                                <img src="/upload/product/<%=product.images[1]%>"
                                                                                                      alt="chair8__Teal"
                                                                                                      srcset=""
                                                                                                      width="180"
                                                                                                      height="231.39593908629442"
                                                                                                      loading="lazy"
                                                                                                      class="img-fluid">
                                                                                          </a>
                                                                                    </div>
                                                                                    <div class="product-media__wrapper">
                                                                                          <a href="javascript:void(0)"
                                                                                                class="product-single__thumbnail thumbnail-type_image"
                                                                                                data-media="/upload/product/<%=product.images[2]%>"
                                                                                                data-media-id="template--14958641283137__main-23940516315201"
                                                                                                data-product-thumbnail>
                                                                                                <img src="/upload/product/<%=product.images[2]%>"
                                                                                                      alt="chair9__Teal"
                                                                                                      srcset=""
                                                                                                      width="180"
                                                                                                      height="231.39593908629442"
                                                                                                      loading="lazy"
                                                                                                      class="img-fluid">
                                                                                          </a>
                                                                                    </div>
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                            </div>

                                                            <script>
                                                                  $(document).ready(function () {
                                                                        $('.main-slider').slick({
                                                                              slidesToShow: 1,
                                                                              slidesToScroll: 1,
                                                                              arrows: false,
                                                                              fade: true,
                                                                              asNavFor: '.thumbnail-slider'
                                                                        });
                                                                        $('.thumbnail-slider').slick({
                                                                              slidesToShow: 3,
                                                                              slidesToScroll: 1,
                                                                              asNavFor: '.main-slider',
                                                                              dots: false,
                                                                              focusOnSelect: true,
                                                                              vertical: true,
                                                                              verticalSwiping: true,
                                                                              responsive: [
                                                                                    {
                                                                                          breakpoint: 768,
                                                                                          settings: {
                                                                                                vertical: false,
                                                                                                verticalSwiping: false,
                                                                                                slidesToShow: 4
                                                                                          }
                                                                                    }
                                                                              ]
                                                                        });
                                                                  });
                                                            </script>


                                                            <div class="image-details"></div>
                                                            <link href="../css/cdn/shop/t/71/assets/drift-basic27e7.css?v=61960634794805114201705054129"
                                                                  rel="stylesheet" type="text/css" media="all" />
                                                            <script
                                                                  src="../css/cdn/shop/t/71/assets/drift.min9ad4.js?v=172350654157774301101705054123"
                                                                  type="text/javascript"></script>
                                                            <script>
                                                                  const driftOptions = {
                                                                        paneContainer: document.querySelector(".image-details"),
                                                                        hoverBoundingBox: true,
                                                                        inlinePane: false,
                                                                        handleTouch: false
                                                                  };
                                                                  $(window).on('resize load', () => {
                                                                        if (window.innerWidth > 991) {
                                                                              window.productZoom = document.querySelectorAll(".image-zoom").forEach((item) => {
                                                                                    new Drift(item, driftOptions);

                                                                              });
                                                                        }
                                                                  });

                                                            </script>
                                                      </div>
                                                      <div class="col-12 col-lg-5 product__info-wrapper">
                                                            <div class="product-single__meta ">
                                                                  <h1 class="product-single__title h4 mb-2">
                                                                        <%=product.name%>
                                                                  </h1>
                                                                  <div class="mb-3">

                                                                       

                                                                        <% if (offerDetails) {%>


                                                                          <div class="product-price product-price--regular"
                                                                              style="width:70px">
                                                                              <span class='money text-danger'>
                                                                                    <%= product.price %>
                                                                              </span>
                                                                        </div>



                                                                               <div class="price-container d-flex align-items-center flex-wrap  "
                                                                              data-price-container>
                                                                              <span class="js-product-price product-single__price product-price--regular"
                                                                                    itemprop="price" content="120.0">
                                                                                    <span class=money>
                                                                                          <%= disPrice %>   
                                                                                    </span>
                                                                              </span><span id="PriceA11y"
                                                                                    class="sr-only invisible">Regular
                                                                                    price</span>
                                                                              <span class="product-single__price--wrapper d-none"
                                                                                    aria-hidden="true">
                                                                                    <span
                                                                                          class="js-product-compare-price product-single__price--compare-at"></span>
                                                                              </span>
                                                                              <span class="js-product-compare-price-a11y sr-only invisible"
                                                                                    aria-hidden="true">Sale!</span>
                                                                              <div class="product-single__unit ms-1">
                                                                                    <span class="product-unit-price">
                                                                                          <span
                                                                                                class="sr-only invisible">Unit
                                                                                                price</span>
                                                                                          <span
                                                                                                data-unit-price></span><span
                                                                                                aria-hidden="true">/</span><span
                                                                                                class="sr-only invisible">&nbsp;Translation
                                                                                                missing:
                                                                                                en.general.accessibility.unit_price_separator&nbsp;</span><span
                                                                                                data-unit-price-base-unit></span></span>
                                                                              </div>
                                                                        </div>
                                                                       <% } else { %>
                                                                              <div class="price-container d-flex align-items-center flex-wrap  "
                                                                              data-price-container>
                                                                              <span class="js-product-price product-single__price product-price--regular"
                                                                                    itemprop="price" content="120.0">
                                                                                    <span class=money>
                                                                                          <%= product.price %>     
                                                                                    </span>
                                                                              </span><span id="PriceA11y"
                                                                                    class="sr-only invisible">Regular
                                                                                    price</span>
                                                                              <span class="product-single__price--wrapper d-none"
                                                                                    aria-hidden="true">
                                                                                    <span
                                                                                          class="js-product-compare-price product-single__price--compare-at"></span>
                                                                              </span>
                                                                              <span class="js-product-compare-price-a11y sr-only invisible"
                                                                                    aria-hidden="true">Sale!</span>
                                                                              <div class="product-single__unit ms-1">
                                                                                    <span class="product-unit-price">
                                                                                          <span
                                                                                                class="sr-only invisible">Unit
                                                                                                price</span>
                                                                                          <span
                                                                                                data-unit-price></span><span
                                                                                                aria-hidden="true">/</span><span
                                                                                                class="sr-only invisible">&nbsp;Translation
                                                                                                missing:
                                                                                                en.general.accessibility.unit_price_separator&nbsp;</span><span
                                                                                                data-unit-price-base-unit></span></span>
                                                                              </div>
                                                                        </div> 
                                                                       <% } %>
                                                                       





                                                                  </div>

                                                                  <div class="product-single__border mb-3"
                                                                        style="border-top: solid 1px #cccccc; line-height: 0;">
                                                                        &nbsp;</div>
                                                                  <div class="product-single__text mb-3"
                                                                        style="color: #606060; font-size: 14px">
                                                                        <h5>Description</h5>
                                                                        <p>
                                                                              <%=product.description%>
                                                                        </p>
                                                                  </div>


                                                                  <div class="product-single__border mb-3"
                                                                        style="border-top: solid 1px #cccccc; line-height: 0;">
                                                                        &nbsp;</div>

                                                                  <div class="buy_buttons--wrap mb-3">
                                                                        <form method="post"
                                                                              action="https://vela-kazan.myshopify.com/cart/add"
                                                                              id="product_form_6973887643713"
                                                                              accept-charset="UTF-8" class="js-addtocart-form product-single__form
                                                                                " enctype="multipart/form-data"
                                                                              data-product-form="">
                                                                              
                                                                              <input type="hidden"
                                                                                    name="form_type"
                                                                                    value="product" />
                                                                                    <input
                                                                                    type="hidden" name="utf8"
                                                                                    value="✓" />
                                                                              <div class="group-wishlits-question text-end pb-2">
                                                                                    <a href="javascript:void(0)" onclick="addWishlist(event,'<%= product.id %>')"
                                                                                          class="product-single__wishlist btn--wishlist fw-medium position-relative"
                                                                                          data-product-handle="plastic-dining-armchair" title="Add to wishlist">
                                                                                          <span class="wishlist-icon">
                                                                                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 512 512">
                                                                                                  <path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z" />
                                                                                              </svg>
                                                                                          </span>
                                                                                          <span class="text">Add to wishlist</span>
                                                                                       </a>

                                                                              </div>

                                                                              <div
                                                                                    class="product-single__buttons row align-items-start g-2">

                                                                                     <div
                                                                                          class="js-quantity-selector product-quantity align-items-center col-auto d-flex">
                                                                                          <label for="Quantity"
                                                                                                class="product-quantity__label d-none">Quantity:</label>
                                                                                             <!-- <div
                                                                                                class="product-quantity__selector">
                                                                                                <div class="vela-qty">
                                                                                                      <button
                                                                                                            type="button"
                                                                                                            class="js-qty-adjust vela-qty__adjust vela-qty__adjust--minus"
                                                                                                            aria-label="Reduce item quantity by one">
                                                                                                            <svg viewBox="0 0 10 2"
                                                                                                                  fill="none"
                                                                                                                  xmlns="http://www.w3.org/2000/svg">
                                                                                                                  <path d="M5.625 0H9.79167C9.90677 0 10 0.111875 10 0.25V1.25C10 1.38812 9.90677 1.5 9.79167 1.5H5.625H4.375H0.208333C0.0932292 1.5 0 1.38812 0 1.25V0.25C0 0.111875 0.0932292 0 0.208333 0H4.375H5.625Z"
                                                                                                                        fill="currentColor" />
                                                                                                            </svg>
                                                                                                      </button>
                                                                                                      <input type="number"
                                                                                                            name="quantity"
                                                                                                            class="js-qty-number vela-qty__number"
                                                                                                            value="1"
                                                                                                            data-min="1"
                                                                                                            min="1"
                                                                                                            aria-label="quantity">
                                                                                                      <button
                                                                                                            type="button"
                                                                                                            class="js-qty-adjust vela-qty__adjust vela-qty__adjust--plus"
                                                                                                            aria-label="Increase item quantity by one">
                                                                                                            <svg viewBox="0 0 10 10"
                                                                                                                  fill="none"
                                                                                                                  xmlns="http://www.w3.org/2000/svg">
                                                                                                                  <path d="M9.75 4.25H5.75V0.25C5.75 0.111875 5.63812 0 5.5 0H4.5C4.36188 0 4.25 0.111875 4.25 0.25V4.25H0.25C0.111875 4.25 0 4.36188 0 4.5V5.5C0 5.63812 0.111875 5.75 0.25 5.75H4.25V9.75C4.25 9.88813 4.36188 10 4.5 10H5.5C5.63812 10 5.75 9.88813 5.75 9.75V5.75H9.75C9.88813 5.75 10 5.63812 10 5.5V4.5C10 4.36188 9.88813 4.25 9.75 4.25Z"
                                                                                                                        fill="currentColor" />
                                                                                                            </svg>
                                                                                                      </button>
                                                                                                      
                                                                                                </div>
                                                                                          </div>-->

                                                                                    <div class="product-quantity__selector">
                                                                                    <div class="vela-qty">
                                                                                      <button type="button"
                                                                                        onclick="changeQuantity('<%=product.id %>','<%=product.price %>')"
                                                                                        class="js-qty-adjust vela-qty__adjust vela-qty__adjust--minus"
                                                                                        data-id="<%=product.id %>">
                                                                                        <svg viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                          <path
                                                                                            d="M5.625 0H9.79167C9.90677 0 10 0.111875 10 0.25V1.25C10 1.38812 9.90677 1.5 9.79167 1.5H5.625H4.375H0.208333C0.0932292 1.5 0 1.38812 0 1.25V0.25C0 0.111875 0.0932292 0 0.208333 0H4.375H5.625Z"
                                                                                            fill="currentColor" />
                                                                                        </svg>
                                                                                      </button>
                                                  
                                                                                      <input type="number" id="quantity<%=product._id %>" name="quantity"
                                                                                        class="js-qty-number vela-qty__number" value="1" data-min="1"
                                                                                        min="1" max="5" aria-label="quantity">
                                                  
                                                                                      <button type="button"
                                                                                        onclick="changeQuantity('<%=product.id %>','<%=product.price %>')"
                                                                                        class="js-qty-adjust vela-qty__adjust vela-qty__adjust--plus"
                                                                                        data-id="<%=product.id %>">
                                                                                        <svg viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                          <path
                                                                                            d="M9.75 4.25H5.75V0.25C5.75 0.111875 5.63812 0 5.5 0H4.5C4.36188 0 4.25 0.111875 4.25 0.25V4.25H0.25C0.111875 4.25 0 4.36188 0 4.5V5.5C0 5.63812 0.111875 5.75 0.25 5.75H4.25V9.75C4.25 9.88813 4.36188 10 4.5 10H5.5C5.63812 10 5.75 9.88813 5.75 9.75V5.75H9.75C9.88813 5.75 10 5.63812 10 5.5V4.5C10 4.36188 9.88813 4.25 9.75 4.25Z"
                                                                                            fill="currentColor" />
                                                                                        </svg>
                                                                                      </button>
                                                                                    </div>
                                                                                  </div>
                                                                              </div> 
                                                                                    <!-- <div class="col">
                                                                  <button class="btn btn-add-to-cart" type="submit" name="add" id="add-to-cart-button" data-product-id="" data-preorder="false">
                                                                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                              <path d="M9.75 4.25H5.75V0.25C5.75 0.111875 5.63812 0 5.5 0H4.5C4.36188 0 4.25 0.111875 4.25 0.25V4.25H0.25C0.111875 4.25 0 4.36188 0 4.5V5.5C0 5.63812 0.111875 5.75 0.25 5.75H4.25V9.75C4.25 9.88813 4.36188 10 4.5 10H5.5C5.63812 10 5.75 9.88813 5.75 9.75V5.75H9.75C9.88813 5.75 10 5.63812 10 5.5V4.5C10 4.36188 9.88813 4.25 9.75 4.25Z" fill="currentColor" />
                                                                        </svg>
                                                                         <span class="btn__text"> Add to Cart </span> </button></a>
                                                                  </div> -->
                                                                        <% if(product.quantity == 0){%>
                                                                                    <button
                                                                                          class="btn cart-modal__btn cart-modal__btn--checkout w-25"
                                                                                          type="submit" name="checkout"
                                                                                          onclick="addProductCart(event,'<%=product.id%>')" disabled>
                                                                                          <span>Add to Cart</span>
                                                                                    </button>
                                                                             <%}else{%>
                                                                              <button
                                                                              class="btn cart-modal__btn cart-modal__btn--checkout w-25"
                                                                              type="submit" name="checkout"
                                                                              onclick="addProductCart(event,'<%=product.id%>')">
                                                                              <span>Add to Cart</span>
                                                                               </button>
                                                                            <%}%>      

                                                                                    <div class="col col-lg-4">
                                                                                          <div data-shopify="payment-button"
                                                                                                data-has-selling-plan="false"
                                                                                                data-has-fixed-selling-plan="false"
                                                                                                data-customer-accounts-required="false"
                                                                                                class="shopify-payment-button">
                                                                                                <button
                                                                                                      class="shopify-payment-button__button shopify-payment-button__button--unbranded shopify-payment-button__button--hidden"
                                                                                                      disabled="disabled"
                                                                                                      aria-hidden="true"> </button><button
                                                                                                      class="shopify-payment-button__more-options shopify-payment-button__button--hidden"
                                                                                                      disabled="disabled"
                                                                                                      aria-hidden="true"> </button>
                                                                                          </div>
                                                                                    </div>

                                                                              </div>
                                                                              <input type="hidden" name="product-id"
                                                                                    value="6973887643713" /><input
                                                                                    type="hidden" name="section-id"
                                                                                    value="template--14958641283137__main" />
                                                                        </form>
                                                                        <div class="modal fade" id="ask-question"
                                                                              tabindex="-1"
                                                                              aria-labelledby="contactFormLable"
                                                                              aria-hidden="true">
                                                                              <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                          <div
                                                                                                class="modal-body text-start">
                                                                                          </div>
                                                                                    </div>
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                                  <div class="product__organization--wrap mb-2">
                                                                        <div
                                                                              class="js-product-avaiable product-avaiable position-relative product__organization">
                                                                              <div
                                                                                    class="product-avaiable__label product__organization__label">
                                                                                    Availability:</div>
                                                                              <% if(product.quantity> 0){%>
                                                                                    <div
                                                                                          class="js-product-avaiable-text product-avaiable__text product-avaiable__text--instock">
                                                                                          In stock</div>
                                                                                    <%}else{%>
                                                                                          <div
                                                                                                class="js-product-avaiable-text product-avaiable__text product-avaiable__text--instock">
                                                                                                Out of stock</div>
                                                                                          <%}%>
                                                                        </div>
                                                                        <div class="product__organization">
                                                                              <div
                                                                                    class="product__organization__label label_sku">
                                                                                    Category:</div>
                                                                              <div
                                                                                    class="js-variant-sku product__organization__text">
                                                                                    <%=product?.category.name%>
                                                                              </div>
                                                                        </div>
                                                                        <div class="product__organization">

                                                                              <% if (product.offer && product.offer.length > 0) { %>
                                                                                    <% if (offerDetails) { %>
                                                                                          <i class="bi bi-tags-fill fs-3" style="color: rgb(0, 255, 17);"></i>
                                                                                    <h5 class="ms-2 " style="color: rgb(0, 255, 17);"><%= offerDetails.discount %>% Offer for this product</h5> 
                                                                                   <% }%>
                                                                                <% } %>

                                                                        </div>

                                                                  </div>
                                                                  <div class="product-single__border mb-3"
                                                                        style="border-top: solid 1px #e6e2e0; line-height: 0;">
                                                                        &nbsp;</div>

                                                                  <div class="custom_liquid--wrap mb-2">
                                                                        <div
                                                                              class="vela-estimate-delivery-label d-flex flex-wrap">
                                                                              <span class="icon me-2"><svg width="20"
                                                                                          xmlns="http://www.w3.org/2000/svg"
                                                                                          viewBox="0 0 640 512">
                                                                                          <path fill="currentColor"
                                                                                                d="M280 192c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8H40c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h240zm352 192h-24V275.9c0-16.8-6.8-33.3-18.8-45.2l-83.9-83.9c-11.8-12-28.3-18.8-45.2-18.8H416V78.6c0-25.7-22.2-46.6-49.4-46.6H113.4C86.2 32 64 52.9 64 78.6V96H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h240c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8H96V78.6c0-8.1 7.8-14.6 17.4-14.6h253.2c9.6 0 17.4 6.5 17.4 14.6V384H207.6C193 364.7 170 352 144 352c-18.1 0-34.6 6.2-48 16.4V288H64v144c0 44.2 35.8 80 80 80s80-35.8 80-80c0-5.5-.6-10.8-1.6-16h195.2c-1.1 5.2-1.6 10.5-1.6 16 0 44.2 35.8 80 80 80s80-35.8 80-80c0-5.5-.6-10.8-1.6-16H632c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm-488 96c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm272-320h44.1c8.4 0 16.7 3.4 22.6 9.4l83.9 83.9c.8.8 1.1 1.9 1.8 2.8H416V160zm80 320c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm80-96h-16.4C545 364.7 522 352 496 352s-49 12.7-63.6 32H416v-96h160v96zM256 248v-16c0-4.4-3.6-8-8-8H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h240c4.4 0 8-3.6 8-8z" />
                                                                                    </svg></span>
                                                                              <span class="label me-1">Free
                                                                                    Delivery: </span><span
                                                                                    class="text-primary"
                                                                                    data-bs-toggle="tooltip"
                                                                                    data-bs-placement="top"
                                                                                    data-bs-title="02 May, 2024 - 11 May, 2024">
                                                                              </span>
                                                                        </div>
                                                                  </div>
                                                            </div>

                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div id="JsQty"></div>
                        <div id="CartTemplate"></div>


                        <script type="application/json" id="ProductJson-template--14958641283137__main">
    {"id":6973887643713,"title":"Plastic Dining Armchair","handle":"plastic-dining-armchair","description":"\u003cp\u003eDon’t ever play yourself. The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion! The other day the grass was brown, now it’s green because I ain’t give up. Never surrender\u003c\/p\u003e\n\u003cul\u003e\n\u003cli\u003eClaritas est etiam processus dynamicus.\u003c\/li\u003e\n\u003cli\u003eQui sequitur mutationem consuetudium lectorum. \u003c\/li\u003e\n\u003cli\u003eClaritas est etiam processus dynamicus.\u003c\/li\u003e\n\u003cli\u003eQui sequitur mutationem consuetudium lectorum. \u003c\/li\u003e\n\u003cli\u003eClaritas est etiam processus dynamicus.\u003c\/li\u003e\n\u003cli\u003eQui sequitur mutationem consuetudium lectorum. \u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cp\u003eIt has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release.\u003c\/p\u003e","published_at":"2023-08-08T14:43:08-11:00","created_at":"2023-08-08T14:43:08-11:00","vendor":"Sbosbo","type":"Furniture","tags":["Chair","Classic","Furniture"],"price":12000,"price_min":12000,"price_max":12500,"available":true,"price_varies":true,"compare_at_price":20000,"compare_at_price_min":20000,"compare_at_price_max":20000,"compare_at_price_varies":false,"variants":[{"id":40471654334529,"title":"Teal","option1":"Teal","option2":null,"option3":null,"sku":"OST00143","requires_shipping":true,"taxable":true,"featured_image":{"id":31283677102145,"product_id":6973887643713,"position":1,"created_at":"2023-08-08T14:43:08-11:00","updated_at":"2023-08-08T14:55:37-11:00","alt":"chair7__Teal","width":788,"height":1013,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-11.jpg?v=1691546137","variant_ids":[40471654334529]},"available":true,"name":"Plastic Dining Armchair - Teal","public_title":"Teal","options":["Teal"],"price":12000,"weight":0,"compare_at_price":null,"inventory_quantity":0,"inventory_management":"shopify","inventory_policy":"continue","barcode":"","featured_media":{"alt":"chair7__Teal","id":23940516249665,"position":1,"preview_image":{"aspect_ratio":0.778,"height":1013,"width":788,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-11.jpg?v=1691546137"}},"requires_selling_plan":false,"selling_plan_allocations":[],"quantity_rule":{"min":1,"max":null,"increment":1}},{"id":40471654268993,"title":"Black","option1":"Black","option2":null,"option3":null,"sku":"OST00141","requires_shipping":true,"taxable":true,"featured_image":{"id":31283676741697,"product_id":6973887643713,"position":4,"created_at":"2023-08-08T14:43:08-11:00","updated_at":"2023-08-08T14:55:37-11:00","alt":"chair__black","width":788,"height":1013,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-31.jpg?v=1691546137","variant_ids":[40471654268993]},"available":true,"name":"Plastic Dining Armchair - Black","public_title":"Black","options":["Black"],"price":12500,"weight":0,"compare_at_price":20000,"inventory_quantity":0,"inventory_management":"shopify","inventory_policy":"continue","barcode":"","featured_media":{"alt":"chair__black","id":23940516053057,"position":4,"preview_image":{"aspect_ratio":0.778,"height":1013,"width":788,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-31.jpg?v=1691546137"}},"requires_selling_plan":false,"selling_plan_allocations":[],"quantity_rule":{"min":1,"max":null,"increment":1}},{"id":40471654301761,"title":"LightSkyBlue","option1":"LightSkyBlue","option2":null,"option3":null,"sku":"OST00142","requires_shipping":true,"taxable":true,"featured_image":{"id":31283676840001,"product_id":6973887643713,"position":7,"created_at":"2023-08-08T14:43:08-11:00","updated_at":"2023-08-08T14:55:37-11:00","alt":"chair4__LightSkyBlue","width":788,"height":1013,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-41.jpg?v=1691546137","variant_ids":[40471654301761]},"available":true,"name":"Plastic Dining Armchair - LightSkyBlue","public_title":"LightSkyBlue","options":["LightSkyBlue"],"price":12000,"weight":0,"compare_at_price":null,"inventory_quantity":0,"inventory_management":"shopify","inventory_policy":"continue","barcode":"","featured_media":{"alt":"chair4__LightSkyBlue","id":23940516151361,"position":7,"preview_image":{"aspect_ratio":0.778,"height":1013,"width":788,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-41.jpg?v=1691546137"}},"requires_selling_plan":false,"selling_plan_allocations":[],"quantity_rule":{"min":1,"max":null,"increment":1}},{"id":40471654367297,"title":"Yellow","option1":"Yellow","option2":null,"option3":null,"sku":"OST00145","requires_shipping":true,"taxable":true,"featured_image":{"id":31283676971073,"product_id":6973887643713,"position":10,"created_at":"2023-08-08T14:43:08-11:00","updated_at":"2023-08-08T14:43:11-11:00","alt":"Chair10__yellow","width":788,"height":1013,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-21.jpg?v=1691545391","variant_ids":[40471654367297]},"available":true,"name":"Plastic Dining Armchair - Yellow","public_title":"Yellow","options":["Yellow"],"price":12000,"weight":0,"compare_at_price":null,"inventory_quantity":0,"inventory_management":"shopify","inventory_policy":"continue","barcode":"","featured_media":{"alt":"Chair10__yellow","id":23940516347969,"position":10,"preview_image":{"aspect_ratio":0.778,"height":1013,"width":788,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-21.jpg?v=1691545391"}},"requires_selling_plan":false,"selling_plan_allocations":[],"quantity_rule":{"min":1,"max":null,"increment":1}}],"images":["\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-11.jpg?v=1691546137","#\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-13.jpg?v=1691546137","#\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-12.jpg?v=1691546137","#\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-31.jpg?v=1691546137","#\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-32.jpg?v=1691546137","#\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-33.jpg?v=1691546137","#\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-41.jpg?v=1691546137","#\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-42.jpg?v=1691546137","#\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-43.jpg?v=1691546137","#\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-21.jpg?v=1691545391","#\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-22.jpg?v=1691545390","\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-23.jpg?v=1691545390"],"featured_image":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-11.jpg?v=1691546137","options":["Color"],"media":[{"alt":"chair7__Teal","id":23940516249665,"position":1,"preview_image":{"aspect_ratio":0.778,"height":1013,"width":788,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-11.jpg?v=1691546137"},"aspect_ratio":0.778,"height":1013,"media_type":"image","src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-11.jpg?v=1691546137","width":788},{"alt":"chair8__Teal","id":23940516282433,"position":2,"preview_image":{"aspect_ratio":0.778,"height":1013,"width":788,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-13.jpg?v=1691546137"},"aspect_ratio":0.778,"height":1013,"media_type":"image","src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-13.jpg?v=1691546137","width":788},{"alt":"chair9__Teal","id":23940516315201,"position":3,"preview_image":{"aspect_ratio":0.778,"height":1013,"width":788,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-12.jpg?v=1691546137"},"aspect_ratio":0.778,"height":1013,"media_type":"image","src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-12.jpg?v=1691546137","width":788},{"alt":"chair__black","id":23940516053057,"position":4,"preview_image":{"aspect_ratio":0.778,"height":1013,"width":788,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-31.jpg?v=1691546137"},"aspect_ratio":0.778,"height":1013,"media_type":"image","src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-31.jpg?v=1691546137","width":788},{"alt":"chair__black","id":23940516085825,"position":5,"preview_image":{"aspect_ratio":0.778,"height":1013,"width":788,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-32.jpg?v=1691546137"},"aspect_ratio":0.778,"height":1013,"media_type":"image","src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-32.jpg?v=1691546137","width":788},{"alt":"chair3__black","id":23940516118593,"position":6,"preview_image":{"aspect_ratio":0.778,"height":1013,"width":788,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-33.jpg?v=1691546137"},"aspect_ratio":0.778,"height":1013,"media_type":"image","src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-33.jpg?v=1691546137","width":788},{"alt":"chair4__LightSkyBlue","id":23940516151361,"position":7,"preview_image":{"aspect_ratio":0.778,"height":1013,"width":788,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-41.jpg?v=1691546137"},"aspect_ratio":0.778,"height":1013,"media_type":"image","src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-41.jpg?v=1691546137","width":788},{"alt":"chair5__LightSkyBlue","id":23940516184129,"position":8,"preview_image":{"aspect_ratio":0.778,"height":1013,"width":788,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-42.jpg?v=1691546137"},"aspect_ratio":0.778,"height":1013,"media_type":"image","src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-42.jpg?v=1691546137","width":788},{"alt":"chair6__LightSkyBlue","id":23940516216897,"position":9,"preview_image":{"aspect_ratio":0.778,"height":1013,"width":788,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-43.jpg?v=1691546137"},"aspect_ratio":0.778,"height":1013,"media_type":"image","src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-43.jpg?v=1691546137","width":788},{"alt":"Chair10__yellow","id":23940516347969,"position":10,"preview_image":{"aspect_ratio":0.778,"height":1013,"width":788,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-21.jpg?v=1691545391"},"aspect_ratio":0.778,"height":1013,"media_type":"image","src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-21.jpg?v=1691545391","width":788},{"alt":"Chair11__yellow","id":23940516380737,"position":11,"preview_image":{"aspect_ratio":0.778,"height":1013,"width":788,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-22.jpg?v=1691545390"},"aspect_ratio":0.778,"height":1013,"media_type":"image","src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-22.jpg?v=1691545390","width":788},{"alt":"Chair13__yellow","id":23940516413505,"position":12,"preview_image":{"aspect_ratio":0.778,"height":1013,"width":788,"src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-23.jpg?v=1691545390"},"aspect_ratio":0.778,"height":1013,"media_type":"image","src":"\/\/vela-kazan.myshopify.com\/cdn\/shop\/files\/product-14-23.jpg?v=1691545390","width":788}],"requires_selling_plan":false,"selling_plan_groups":[],"content":"\u003cp\u003eDon’t ever play yourself. The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion! The other day the grass was brown, now it’s green because I ain’t give up. Never surrender\u003c\/p\u003e\n\u003cul\u003e\n\u003cli\u003eClaritas est etiam processus dynamicus.\u003c\/li\u003e\n\u003cli\u003eQui sequitur mutationem consuetudium lectorum. \u003c\/li\u003e\n\u003cli\u003eClaritas est etiam processus dynamicus.\u003c\/li\u003e\n\u003cli\u003eQui sequitur mutationem consuetudium lectorum. \u003c\/li\u003e\n\u003cli\u003eClaritas est etiam processus dynamicus.\u003c\/li\u003e\n\u003cli\u003eQui sequitur mutationem consuetudium lectorum. \u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cp\u003eIt has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release.\u003c\/p\u003e"}
  </script>
                        <script type="application/json" id="ModelJson-template--14958641283137__main">
    []
  </script>



                  </div>
                  <section id="shopify-section-template--14958641283137__producttab-information"
                        class="shopify-section">
                        <div id="product-more-info" class="vela-section product-more-info"
                              style="--st-pd-dt: 90px 0 100px;--st-pd-mb: 55px 0 60px;">
                              <div class="container">
                                    <div class="product-more-info__inner">
                                          <div class="more-info-tabs__heading mb-2 mb-lg-3 tab-sm-scroll">
                                                <ul
                                                      class="more-info-tabs__nav nav d-flex justify-content-center list-unstyled mb-1">
                                                      <li class="more-info-tabs__nav-item">
                                                            <a class="more-info-tabs__nav-link  active"
                                                                  data-bs-toggle="tab"
                                                                  href="#js-more-info-tabs-1">Description</a>
                                                      </li>
                                                      <li class="more-info-tabs__nav-item">
                                                            <a class="more-info-tabs__nav-link " data-bs-toggle="tab"
                                                                  href="#js-more-info-tabs-3">Shipping &amp;
                                                                  Return</a>
                                                      </li>
                                                </ul>
                                          </div>
                                          <div class="more-info-tabs__content tab-content pt-3">
                                                <div id="js-more-info-tabs-1" class="tab-pane fade show active">
                                                      <div class="rte">

                                                            <p>Don’t ever play yourself. The weather is
                                                                  amazing, walk with me through the pathway
                                                                  of more success. Take this journey with
                                                                  me, Lion! The other day the grass was
                                                                  brown, now it’s green because I ain’t give
                                                                  up. Never surrender</p>
                                                            <ul>
                                                                  <li>Claritas est etiam processus
                                                                        dynamicus.</li>
                                                                  <li>Qui sequitur mutationem consuetudium
                                                                        lectorum. </li>
                                                                  <li>Claritas est etiam processus
                                                                        dynamicus.</li>
                                                                  <li>Qui sequitur mutationem consuetudium
                                                                        lectorum. </li>
                                                                  <li>Claritas est etiam processus
                                                                        dynamicus.</li>
                                                                  <li>Qui sequitur mutationem consuetudium
                                                                        lectorum. </li>
                                                            </ul>
                                                            <p>It has survived not only five centuries, but
                                                                  also the leap into electronic typesetting,
                                                                  remaining essentially unchanged. It was
                                                                  popularised in the 1960s with the release.
                                                            </p>
                                                      </div>
                                                </div>

                                                <div id="js-more-info-tabs-3" class="tab-pane fade ">
                                                      <div class="rte">
                                                            <h5 class="mb-3">Returns Policy</h5>
                                                            <p>You may return most new, unopened items
                                                                  within 30 days of delivery for a full
                                                                  refund. We'll also pay the return shipping
                                                                  costs if the return is a result of our
                                                                  error (you received an incorrect or
                                                                  defective item, etc.).</p>
                                                            <p>You should expect to receive your refund
                                                                  within four weeks of giving your package
                                                                  to the return shipper, however, in many
                                                                  cases you will receive a refund more
                                                                  quickly. This time period includes the
                                                                  transit time for us to receive your return
                                                                  from the shipper (5 to 10 business days),
                                                                  the time it takes us to process your
                                                                  return once we receive it (3 to 5 business
                                                                  days), and the time it takes your bank to
                                                                  process our refund request (5 to 10
                                                                  business days).</p>
                                                            <p>If you need to return an item, simply login
                                                                  to your account, view the order using the
                                                                  'Complete Orders' link under the My
                                                                  Account menu and click the Return Item(s)
                                                                  button. We'll notify you via e-mail of
                                                                  your refund once we've received and
                                                                  processed the returned item.</p>
                                                            <h5 class="mt-4 mb-3">Shipping</h5>
                                                            <p>We can ship to virtually any address in the
                                                                  world. Note that there are restrictions on
                                                                  some products, and some products cannot be
                                                                  shipped to international destinations.</p>
                                                            <p>When you place an order, we will estimate
                                                                  shipping and delivery dates for you based
                                                                  on the availability of your items and the
                                                                  shipping options you choose. Depending on
                                                                  the shipping provider you choose, shipping
                                                                  date estimates may appear on the shipping
                                                                  quotes page.</p>
                                                            <p>Please also note that the shipping rates for
                                                                  many items we sell are weight-based. The
                                                                  weight of any such item can be found on
                                                                  its detail page. To reflect the policies
                                                                  of the shipping companies we use, all
                                                                  weights will be rounded up to the next
                                                                  full pound.</p>

                                                      </div>
                                                </div>
                                                <div id="js-more-info-tabs-4" class="tab-pane fade ">
                                                      <div class="rte">


                                                      </div>
                                                </div>

                                          </div>
                                    </div>
                              </div>
                        </div>

                  </section>




                 <script src="/js/addWishlist.js"></script>
                  <script src="/js/addToCart.js"></script>
               <script src="/js/quantityUpdate.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




                  <%- include('../layout/footer') %>