<div id="pre-loading" class="pre-loading "><span class="pre-loading__bar"></span>
  <div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div>
</div>
<!-- BEGIN sections: header-group -->
<div id="shopify-section-sections--14955319820353__banner-top"
  class="shopify-section shopify-section-group-header-group"></div>

<div id="shopify-section-sections--14955319820353__header"
  class="shopify-section shopify-section-group-header-group section-header">
  <div class="header-wrapper">
    <header class="header">

      <div data-section-id="header" data-section-type="header-section" class="vela-section"
        style="--st-bg-cl: #ffffff;--header-color: #201f1f;">
        <div class="container">
          <div class="header__inner">
            <div class="header-top py-2">
              <div class="header-top__inner py-1">
                <div class="row g-2 align-items-center">
                  <div class="header-menu-mobile d-flex d-lg-none align-items-center col-auto">

                    <div class="d-flex align-items-center">
                      <header-drawer>
                        <details class="menu-drawer-container">
                          <summary class="header__icon header__icon--menu header__icon--summary pe-sm-1"
                            aria-label="Menu">
                            <svg class="icon icon-hamburger" width="20" xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false"
                              style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                              preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 896">
                              <path fill="currentColor"
                                d="M27 130q-4-4-7-9t-4-10.5T15 98q0-19 12-31t31-12h913q19 0 31 12t12 31t-12 31.5t-31 12.5H58q-19 0-31-12zm975 285q12 12 12 31t-12 31t-31 12H58q-19 0-31-12q-2-2-4-5t-3.5-6t-2.5-6t-1.5-6.5t-.5-7.5q0-19 12-31t31-12h913q19 0 31 12zm0 347q12 12 12 31t-12 31.5t-31 12.5H58q-19 0-31-12q-2-2-3.5-4.5l-3-5l-2.5-5l-2-5.5l-1-5.5V793q0-19 12-31t31-12h913q18 0 31 12z">
                              </path>
                            </svg>
                            <svg class="icon icon-close ms-1" width="35" aria-hidden="true" focusable="false"
                              role="presentation" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M8.48627 9.32917L2.82849 3.67098" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" />
                              <path d="M2.88539 9.38504L8.42932 3.61524" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" />
                            </svg>
                          </summary>
                          
                          <div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
                            <div class="menu-drawer__inner-container">
                              <div class="menu-drawer__navigation-container">
                                <nav class="menu-drawer__navigation">
                                  <ul class="menu-drawer__menu list-menu">
                                    <li>
                                      <details>

                                        <summary class="menu-drawer__menu-item list-menu__item">
                                          <a href="/home" class="<%=activePage === 'Home' ? 'active' : '' %>" title="Home">Home</a>
                                          <svg class="icon icon-arrow" viewBox="0 0 14 10" fill="none"
                                            aria-hidden="true" focusable="false" role="presentation"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <!-- <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor" /> -->
                                          </svg>
                                        </summary>

                                        <div id="link-Home" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                                          <div class="menu-drawer__inner-submenu">


                                          </div>
                                        </div>
                                      </details>
                                    </li>
                                    <li>
                                      <details>

                                        <summary class="menu-drawer__menu-item list-menu__item">
                                          <a href="/shop" class="<%=activePage === 'shop' ? 'active' : '' %>" title="Shop">Shop</a>
                                          <svg class="icon icon-arrow" viewBox="0 0 14 10" fill="none"
                                            aria-hidden="true" focusable="false" role="presentation"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <!-- <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor" /> -->
                                          </svg>
                                        </summary>

                                        <div id="link-Shop" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                                          <div class="menu-drawer__inner-submenu">
                                            <button class="menu-drawer__close-button border-0 btn-secondary"
                                              aria-expanded="true">
                                              <svg class="icon icon-arrow" viewBox="0 0 14 10" fill="none"
                                                aria-hidden="true" focusable="false" role="presentation"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <!-- <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor" /> -->
                                              </svg>
                                              Shop
                                            </button>

                                            <summary class="menu-drawer__menu-item list-menu__item">
                                              <a href="../products"
                                                title="Product"></a>
                                              <svg class="icon icon-arrow" viewBox="0 0 14 10" fill="none"
                                                aria-hidden="true" focusable="false" role="presentation"
                                                xmlns="http://www.w3.org/2000/svg">
                                                 <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor" />
                                              </svg>
                                            </summary>

                                            <div id="link-Product" class="menu-drawer__submenu motion-reduce"
                                              tabindex="-1">
                                              <div class="menu-drawer__inner-submenu">
                                                <button class="menu-drawer__close-button border-0 btn-secondary"
                                                  aria-expanded="true">
                                                  <svg class="icon icon-arrow" viewBox="0 0 14 10" fill="none"
                                                    aria-hidden="true" focusable="false" role="presentation"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <!-- <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor" /> -->
                                                  </svg>
                                                </button>

                                      </details>
                                    </li> 
                                    <!-- <li><a href="/collections" class="menu-drawer__menu-item list-menu__item >">
                                        Collections
                                      </a></li>
                                    <li> -->
                                      <details>

                                        <summary class="menu-drawer__menu-item list-menu__item">
                                          <a href="/about" class="<%=activePage === 'about' ? 'active' : '' %>" title="Blog">About</a>
                                          <svg class="icon icon-arrow" viewBox="0 0 14 10" fill="none"
                                            aria-hidden="true" focusable="false" role="presentation"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <!-- <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor" /> -->
                                          </svg>
                                      </details>
                                    </li>

                                    <li>
                                      <details>
                                        <summary class="menu-drawer__menu-item list-menu__item">
                                          <a href="/contact"  class="<%=activePage === 'contact' ? 'active' : '' %>" title="Pages">contact</a>
                                          <svg class="icon icon-arrow" viewBox="0 0 14 10" fill="none"
                                            aria-hidden="true" focusable="false" role="presentation"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <!-- <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor" /> -->
                                          </svg>

                                      </details>
                                    </li>

                                    <!-- </summary>
                                          <div id="link-Pages" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                                              <div class="menu-drawer__inner-submenu">
                                                  <button class="menu-drawer__close-button border-0 btn-secondary" aria-expanded="true">
                                                      <svg  class="icon icon-arrow"  viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg">
       <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor" /> 
    </svg>
                                                      Pages
                                                  </button> -->






                                </nav>
                              </div>
                            </div>
                          </div>
                        </details>
                      </header-drawer>
                    </div>
                  </div>




                  <div class="header-left col col-lg-auto">
                    <h1 class="header__heading mb-0">
                      <a href="/home" class="header__heading-link d-flex" style="max-width: 150px">
                        <img class="header__heading-logo img-fluid"
                          srcset="//vela-kazan.myshopify.com/cdn/shop/files/logo_dark.svg?v=1676480977&width=150 1x, //vela-kazan.myshopify.com/cdn/shop/files/logo_dark.svg?v=1676480977&width=409 2x"
                          src="cdn/shop/files/logo_dark64cb.svg?v=1676480977&amp;width=150" loading="lazy" width="150"
                          alt="Outstock"></a>
                    </h1>
                  </div>

                  <div class="header-center col d-none d-lg-flex ps-3 ps-lg-4 ps-xl-6">
                    <div class="main-menu d-none d-lg-block">
                      <nav class="main-menu__wrap">
                        <ul class="main-menu__nav list-unstyled d-flex flex-wrap m-0">

                          <li class="main-menu__nav-item menu-dropdown">
                            <a class="main-menu__link <%=activePage === 'home' ? 'active' : '' %>" href="/home" title="Home"><span>Home<svg class="ms-1 " width="8"
                                  height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"></svg></span></a>
                          </li>


                          <li class="main-menu__nav-item menu-dropdown ">
                            <a class="main-menu__link <%=activePage === 'shop' ? 'active' : '' %>"  href="/shop" title="Shop"><span>Shop<svg
                                  class="ms-1" width="8" height="15" xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 320 512"></svg></span></a>
                          </li>


                          <li class="main-menu__nav-item menu-dropdown">
                            <a class="main-menu__link <%=activePage === 'about' ? 'active' : '' %>" href="/about"
                              title="Product"><span>About<svg class="ms-1" width="8" height="15"
                                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                  
                                </svg></span></a>
                          </li>

                          <li class="main-menu__nav-item menu-dropdown">
                            <a class="main-menu__link <%=activePage === 'contact' ? 'active' : '' %>" href="/contact"
                              title="Collections"><span>Contact<svg class="ms-1" width="8" height="15"
                                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"></svg></span></a>
                          </li>

                          <!-- <li class="main-menu__nav-item menu-dropdown menu-dropdown--basic">
                            <a class="main-menu__link" href="/blogs" title="Blog"><span>Blog<svg
                                  class="ms-1" width="8" height="15" xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 320 512"></svg></span></a>
                          </li>

                          <li class="main-menu__nav-item menu-dropdown menu-dropdown--basic">
                            <a class="main-menu__link" href="/pages" title="Pages"><span>Pages<svg
                                  class="ms-1" width="8" height="15" xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 320 512"></svg></span></a>
                          </li> -->

                        </ul>

                      </nav>
                    </div>
                  </div>


                  <div class="col-auto header-right d-flex align-items-center">
                    <div class="header__search">
                      <button type="button"
                        class="header__icon header__icon--search modal__toggle d-flex align-items-end p-0 border-0 bg-transparent"
                        data-bs-toggle="modal" data-bs-target="#searchTop" data-bs-whatever="@getbootstrap">
                        <svg class="modal__toggle-open icon icon-search" width="22" height="24" version="1.1"
                          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          viewBox="0 0 512 512" xml:space="preserve">
                          <path fill="currentColor"
                            d="M344.5,298c15-23.6,23.8-51.6,23.8-81.7c0-84.1-68.1-152.3-152.1-152.3C132.1,64,64,132.2,64,216.3c0,84.1,68.1,152.3,152.1,152.3c30.5,0,58.9-9,82.7-24.4l6.9-4.8L414.3,448l33.7-34.3L339.5,305.1L344.5,298z M301.4,131.2c22.7,22.7,35.2,52.9,35.2,85c0,32.1-12.5,62.3-35.2,85c-22.7,22.7-52.9,35.2-85,35.2c-32.1,0-62.3-12.5-85-35.2c-22.7-22.7-35.2-52.9-35.2-85c0-32.1,12.5-62.3,35.2-85c22.7-22.7,52.9-35.2,85-35.2C248.5,96,278.7,108.5,301.4,131.2z">
                          </path>
                        </svg>
                        <span class="text ms-1">Search</span>
                      </button>
                    </div>
                 
                    <%if(locals.user){%>
                      <a href="/profile?id=<%=user.id %>" class="header__icon ms-3">
                        <i class="bi bi-person-circle" style="width: 20px; height: 22px; font-size: 22px;"></i>
                      </a>
                    <%}%>
                    
                    <div class="header-cart  cart-hover">
                      <a class="js-header-cart header__icon d-flex align-items-end position-relative mx-2 mx-sm-3 mx-lg-4"
                        href="../cart.html" id="cart-icon-bubble"><svg class="icon icon-cart me-1" width="19"
                          height="20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                          style="enable-background:new 0 0 512 512;" xml:space="preserve">
                          <path fill="currentColor"
                            d="M448,160h-64v-4.5C384,87,329,32,260.5,32h-8C184,32,128,87,128,155.5v4.5H64L32,480h448L448,160z M160,155.5c0-50.7,41.8-91.5,92.5-91.5h7.5h0.5c50.7,0,91.5,40.8,91.5,91.5v4.5H160V155.5z M67.8,448l24.9-256H128v36.3c-9.6,5.5-16,15.9-16,27.7c0,17.7,14.3,32,32,32s32-14.3,32-32c0-11.8-6.4-22.2-16-27.7V192h192v36.3c-9.6,5.5-16,15.9-16,27.7c0,17.7,14.3,32,32,32s32-14.3,32-32c0-11.8-6.4-22.2-16-27.7V192h35.4l24.9,256H67.8z">
                          </path>
                        </svg><span class="header-cart__span d-none d-sm-block">Cart</span>
                        <%if (locals.user) {%>
                          (<span class="header-cart__count cart-count-bubble rounded-circle" data-cart-count><%=cartCount%></span>)
                        <%} else {%>
                          (<span class="header-cart__count cart-count-bubble rounded-circle" data-cart-count>0</span>)
                        <%}%>
                        <span class="header-cart__span d-none">item</span>
                        <span class="header-cart__span d-none" data-cart-cost><span class=money>$0.00</span></span>
                      </a>
                    </div>
                    
                    <div class="velaTopLinks">
                      <div class="top-link__title header__icon d-flex py-2">
                        <svg class="icon icon-user d-lg-none" width="18" height="18" viewBox="0 0 22 20" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11 1.55556C7.99312 1.55556 5.55556 3.99312 5.55556 7C5.55556 10.0069 7.99312 12.4444 11 12.4444C14.0069 12.4444 16.4444 10.0069 16.4444 7C16.4444 3.99312 14.0069 1.55556 11 1.55556ZM4 7C4 3.13401 7.13401 0 11 0C14.866 0 18 3.13401 18 7C18 10.866 14.866 14 11 14C7.13401 14 4 10.866 4 7Z"
                            fill="currentColor" />
                          <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11 14.5557C9.0876 14.5557 7.20882 15.0228 5.55245 15.9102C3.89607 16.7975 2.52044 18.0739 1.56373 19.6109C1.33221 19.9829 0.819665 20.1103 0.418926 19.8954C0.0181876 19.6804 -0.118991 19.2047 0.11253 18.8327C1.21637 17.0592 2.80356 15.5866 4.71467 14.5628C6.62578 13.539 8.7935 13 11.0001 13C13.2066 13 15.3743 13.539 17.2854 14.5629C19.1965 15.5868 20.7837 17.0594 21.8875 18.8329C22.119 19.2049 21.9818 19.6807 21.5811 19.8956C21.1803 20.1104 20.6678 19.9831 20.4363 19.6111C19.4796 18.074 18.104 16.7977 16.4476 15.9103C14.7913 15.0229 12.9125 14.5557 11 14.5557Z"
                            fill="currentColor" />
                        </svg>
                        <svg class="icon icon-hamburger d-none d-lg-block" width="15" height="15"
                          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                          aria-hidden="true" focusable="false"
                          style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                          preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 896">
                          <path fill="currentColor"
                            d="M27 130q-4-4-7-9t-4-10.5T15 98q0-19 12-31t31-12h913q19 0 31 12t12 31t-12 31.5t-31 12.5H58q-19 0-31-12zm975 285q12 12 12 31t-12 31t-31 12H58q-19 0-31-12q-2-2-4-5t-3.5-6t-2.5-6t-1.5-6.5t-.5-7.5q0-19 12-31t31-12h913q19 0 31 12zm0 347q12 12 12 31t-12 31.5t-31 12.5H58q-19 0-31-12q-2-2-3.5-4.5l-3-5l-2.5-5l-2-5.5l-1-5.5V793q0-19 12-31t31-12h913q18 0 31 12z">
                          </path>
                        </svg>
                      </div>
                      
                      <div class="top-link__dropdown-menu">
                        <% if(locals.user){%>
                            <ul class="list-unstyled m-0">
                              <li class="link wishlist-count">
                                <a class="position-relative" href="/wishlist?id=<%=user.id %>" title="Wishlist"
                                  data-count-wishlist>Wishlist<span class="count">0</span></a>
                              </li>
                              <li class="link">
                                <!-- <a href="/logout" id="customer_register_link">LogOut</a> -->
                                <a href="/logout" id="customer_register_link" onclick="return confirmLogout(event)">LogOut</a>
                              </li>
                            </ul>
                            <% }else{%>
                              <ul class="list-unstyled m-0">
                                <li class="link"><a href="/login" id="customer_login_link">Login</a></li>
                                <li class="link"><a href="/register" id="customer_register_link">Register</a></li>
                              </ul> 
                              <% } %>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-bottom border-2 border-top d-none d-lg-flex justify-content-center">
              <div class="main-menu d-none d-lg-block">

              </div>
            </div>
          </div>
    </header>
  </div>
</div>


<script>
  function confirmLogout(event) {
      event.preventDefault(); 
  
      Swal.fire({
          title: 'Are you sure you want to log out?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, log out',
          cancelButtonText: 'Cancel'
      }).then((result) => {
          if (result.isConfirmed) {
              window.location.href = event.target.href; 
          }
      });
  }
  </script>
  